body {
    text-align: center;
    height: 97vh;
    width: 80vw;
    
}

.gridContainer {
    
    background-color:red;
    display: grid;
    padding: 2vh;
    gap: 0px;
    
    
}

.gridBox {
    background-color: gray;
    /*padding: 0.1rem;*/
    padding: 1px;
}

.gridBox::before {
    content: "";
    padding-bottom: 100%;
    display: block;
}

.sketch {
    background-color: black;
}

#pixelChange, #clearGrid {
    padding: 0.5rem;
    margin: 1rem;
    background-color: lightgray;
}