body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gridContainer {
    align-self: center;
    background-color:red;
    display: grid;
    padding: 2vh;
    gap: 0px;
    
}

.gridBox {
    background-color: gray;
    
}

.sketch {
    background-color: black;
}

.buttonStrip {
    display:flex;
    justify-content: center;
}

#pixelChange, #clearGrid {
    padding: 0.5rem;
    margin: 1rem;
    background-color: lightgray;
}